select, option{
    color: rgb(129, 129, 129) !important;
}

label{
    text-align: left !important;
}

.outfit-container {
    width: 80% !important;
    margin: auto !important;
    padding: 20px !important;
}

.outfit-form {
    display: flex !important;
    flex-direction: column !important;
}

.outfit-select {
    margin: 10px 0 !important;
    padding: 10px !important;
    border-radius: 5px !important;
    border: 1px solid #cccccc !important;
    font-size: 16px !important;
}

.outfit-button {
    padding: 15px !important;
    background-color: #8d0000 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 18px !important;
    transition: background-color 0.3s ease !important; /* Agregamos una transición suave */
}

.outfit-button:hover {
    background-color: #8d0000cb !important;
}

.outfit-results {
    margin-top: 20px !important;
}

.outfit-item {
    border: 1px solid #dddddd !important;
    padding: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 10px !important;
    transition: box-shadow 0.3s ease !important; /* Agregamos una transición suave */
}

.outfit-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important; /* Agregamos un efecto de sombra al pasar el ratón */
}

.outfit-image {
    width: 100% !important;
    max-width: 250px !important;
    border-radius: 5px !important;
}

.outfit-link {
    color: #8d0000 !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.outfit-link:hover {
    text-decoration: underline !important;
}
